<div class="header ads_header">
	<div class="ma_tabs">
		<ul class="list-unstyled mb-0">
			<li class="<?php if(empty($_GET['info']) && $_GET['page'] == 'wallet') { ?> active <?php } ?>">
				<a href="{{CONFIG site_url}}/navigation/wallet" data-ajax="ajax_loading.php?app=navigation&apph=navigation&page=wallet">{{icon}} {{title}}</a>
			</li>
			<li class="<?php if(!empty($_GET['info']) && $_GET['info'] == 'donate') { ?> active <?php } ?>">
				<a href="{{CONFIG site_url}}/navigation/wallet/info/donate" data-ajax="ajax_loading.php?app=navigation&apph=navigation&page=wallet&info=donate"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#e61f01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg> Donate</a>
			</li>
			<li class="<?php if(!empty($_GET['info']) && $_GET['info'] == 'view') { ?> active <?php } ?>">
				<a href="{{CONFIG site_url}}/navigation/wallet/info/view" data-ajax="ajax_loading.php?app=navigation&apph=navigation&page=wallet&info=view"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#e61f01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg> Information</a>
			</li>
			<?php if (!empty($_GET['info']) && $_GET['info'] == 'thanks' && isset($_SESSION['donated'])): ?>
				<li class="<?php if(!empty($_GET['info']) && $_GET['info'] == 'thanks') { ?> active <?php } ?>">
					<a href="{{CONFIG site_url}}/navigation/wallet/info/thanks" data-ajax="ajax_loading.php?app=navigation&apph=navigation&page=wallet&info=thanks"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0bb865" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg> Thank You</a>
				</li>				
			<?php endif ?>
		</ul>
	</div>
	<div class="clear"></div>
</div>
