<div class="explore-page-container">
	<div class="sub__header go_pro_sub_header">
		<div class="container">
			<div class="col-md-8">
				<h4 class="animated fadeInUpBig">{{LANG challenge}}</h4>
			</div>
			<div class="col-md-4 pp_exp_head_svg text-center hidden-xs hidden-sm">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-navigation"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
			</div>
		</div>
		<svg class="go_pro_wave" viewBox="0 0 100 15"><path fill="#fff" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path><path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path></svg>
	</div>
	
	<div class="container">
		<div class="explore-people-container">
			<h2 class="text-center">Pick up a Challenge!</h2>
			<h4 class="text-center">There is always a reason to try, Challenge your fear.</h4> 
			<div class="row people">  

				<div class="col-md-4">
					<div class="text-center go_pro_plan pro_plan">
						<b class="pp_exp_head_svg unset"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-wallet"><path fill="#ff7400" d="M21,18V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V6H12C10.89,6 10,6.9 10,8V16A2,2 0 0,0 12,18M12,16H22V8H12M16,13.5A1.5,1.5 0 0,1 14.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,12A1.5,1.5 0 0,1 16,13.5Z"></path></svg></b>
						<h3>{{LANG social_wallet}}</h3>
						<hr> 
						<div class="button_go_pro button_go_pro_upgrade">
							<button onclick="location.href='{{LINK navigation/wallet}}';"><span>{{LANG view}}</span></button> 
						</div>
					</div>
				</div>   

				<?php if ($context['exclusive']): ?>
					<?php foreach ($context['exclusive'] as $exclusive): 
						$set_id     = $exclusive['id'];
						$prolevel   = isset($_SESSION['terms_accepted']) ? true : $exclusive['pro_level']; 
						$set_link   = 'navigation/challenge/exclusive/'.$set_id;
						if ($exclusive['pro_level'] == 2 && $context['user']['big_brother_mate'] !== 1) {
							if (!isset($_SESSION['_redirect_'])) {
								$_SESSION['_redirect_'] = pxp_link($set_link);
							}
							$set_link   = 'settings/big_brother/'.$context['user']['user_id'];
						} ?>

						<div class="col-md-4">
							<div class="text-center go_pro_plan pro_plan">
								<b class="pp_exp_head_svg unset"><?php echo decode($exclusive['icon']) ?></b>
								<h3><?php echo $exclusive['title'] ?></h3>
								<hr>
								<div class="button_go_pro button_go_pro_upgrade">
									<button onclick="loadCommunityTC(<?php echo $prolevel?>, '{{LINK <?php echo $set_link ?>}}');"><span>{{LANG enter}}</span></button> 
								</div>
							</div>
						</div>  

					<?php endforeach ?>
				<?php endif ?>

				<div class="clearfix"></div>
			</div>
		</div>
	</div> 
	
	<div class="container"> 
		<div class="button_go_pro button_go_pro_upgrade mb-2">
			<button onclick="location.href='{{CONFIG site_url}}/explore/winners';"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#66757f" class="feather feather-compass"><defs xmlns="http://www.w3.org/2000/svg"><linearGradient x1="19.28%" y1="86.72%" x2="88.05%" y2="12.24%" id="explore"><stop stop-color="#3D3695" offset="0%"/><stop stop-color="#953594" offset="49.5%"/><stop stop-color="#DA2129" offset="100%"/></linearGradient></defs><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" fill="url(#explore)"/></svg> <span>{{LANG explore_winners}}</span></button> 
		</div> 
		<?php Generic::socialContainer('navigation', true) ?> 
	</div>
</div> 

<script> 

	function acceptCommunityTC(e, check) { 
 		var accepted = $(check)[0].checked;
 		var link     = $(e[0]).val();
 
 		if (accepted === true) {
 			$.post(xhr_url()+'main/accepted_terms');
 			location.href=link;
 		} else {
			$('#manifest-modal').modal('hide');
 		}
 		return false;
    }

	function loadCommunityTC(pro_level = 0, link = '') {  
		
		const community_terms_form = 
		'<form method="post" class="community_terms_form" onsubmit="return acceptCommunityTC(this, \'#accept_CTC\');">'+
			'<div class="form-group text-danger">'+
				'<input type="hidden" id="link" value="'+link+'"> '+
				'<input type="checkbox" id="accept_CTC" required> '+
				'<label> I have read, Understood and Accepted these terms</label> '+
				'<button type="submit" class="btn btn-success">Continue</button>'+
				'<button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>'+
			'</div>'+
		'</form>';

 		if (pro_level === 3) { 
		    load_noticeModal(null, 'community_terms', community_terms_form); 
 		} else {
 			location.href=link;
 		} 
    } 
</script>
