<?php if ($context['page'] == 'blocked') { ?>
	<script data-page="blocked-users">
		jQuery(document).ready(function($) {
			$("button.unblock-user").click(function(event) {
				var user_id = $(this).attr('id');
				var zis     = $(this);
				$('.unblockuser--modal').data('id',user_id).fadeIn(350);
			});

			$('.block--user').click(function(event) {
				var zis     = $(this);
				var uid     = zis.closest('.confirm--modal').data('id');
				if (!uid || !$.isNumeric(uid)) {
					return false;
				}

				zis.closest('.confirm--modal').data('id','').fadeOut(400);
				$.ajax({
					url: link('settings/unblock-user'),
					type: 'POST',
					dataType: 'json',
					data: {id:uid},
				})
				.done(function(data) {
					delay(function(){
						$('[data-blocked-users-ls="'+uid+'"]').slideUp('fast',function(){
							$(this).remove();
						});
					},500);

					$.toast(data.message,{
		            	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
		            });
				});	
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'general') { ?>
	<script data-page="general">
		jQuery(document).ready(function($) {
			

			$("form#edit-general-settings").ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/general',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					if ($(form).find('#active').length > 0) {
						if($(form).find('#active').prop('checked') == false){
							arr.push({name:'active', value:'off'}); 
						}
					}
					if ($(form).find('#verified').length > 0) {
						if($(form).find('#verified').prop('checked') == false){
							arr.push({name:'verified', value:'off'}); 
						}
					}
					if ($(form).find('#is_pro').length > 0) {
						if($(form).find('#is_pro').prop('checked') == false){
							arr.push({name:'is_pro', value:'off'}); 
						}
					}
					if ($(form).find('#business_account').length > 0) {
						if($(form).find('#business_account').prop('checked') == false){
							arr.push({name:'business_account', value:'off'}); 
						}
					}
					
					
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data,stat,xhr,form){
					scroll2top();
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
	                $(form).find('button[type="submit"]').removeAttr('disabled');
				}
			});

			
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'profile') { ?>
	<script data-page="profile">
		jQuery(document).ready(function($) {
			$("#avatar").change(function(event) {
				$("#edit-avatar").submit();
			});

			$("form#edit-profile-settings").ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/profile',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled','true');
					if ($(form).find('#business_account').length > 0) {
						if($(form).find('#business_account').prop('checked') == false){
							arr.push({name:'business_account', value:'off'}); 
						}
					}
				},
				success: function(data,stat,xhr,form){
					scroll2top();
					if (data.message) {
						$.toast(data.message,{
		                	duration: 5000, 
							type: 'success',
							align: 'bottom',
							singleton: true
		                });
					}
					$(form).find('.pp_load_loader').removeClass('loadingg');
	                $(form).find('button[type="submit"]').removeAttr('disabled');
				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'big_brother') { ?>
	<script data-page="big_brother">
		jQuery(document).ready(function($) {
			$("#avatar").change(function(event) {
				$("#edit-avatar").submit();
			});

			$("form#edit-big_brother-settings").ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/big_brother',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled','true');
					if ($(form).find('#acting').length > 0) {
						if($(form).find('#acting').prop('checked') == false){
							arr.push({name:'acting', value:'off'}); 
						}
					}
					if ($(form).find('#like_acting').length > 0) {
						if($(form).find('#like_acting').prop('checked') == false){
							arr.push({name:'like_acting', value:'off'}); 
						}
					}
					if ($(form).find('#artist').length > 0) {
						if($(form).find('#artist').prop('checked') == false){
							arr.push({name:'artist', value:'off'}); 
						}
					}
					if ($(form).find('#artist_contract').length > 0) {
						if($(form).find('#artist_contract').prop('checked') == false){
							arr.push({name:'artist_contract', value:'off'}); 
						}
					}
					if ($(form).find('#dancer').length > 0) {
						if($(form).find('#dancer').prop('checked') == false){
							arr.push({name:'dancer', value:'off'}); 
						}
					}
					if ($(form).find('#be_dancer').length > 0) {
						if($(form).find('#be_dancer').prop('checked') == false){
							arr.push({name:'be_dancer', value:'off'}); 
						}
					}
					if ($(form).find('#signed_model').length > 0) {
						if($(form).find('#signed_model').prop('checked') == false){
							arr.push({name:'signed_model', value:'off'}); 
						}
					} 
					if ($(form).find('#be_signed_model').length > 0) {
						if($(form).find('#be_signed_model').prop('checked') == false){
							arr.push({name:'be_signed_model', value:'off'}); 
						}
					} 
					if ($(form).find('#pro_sports').length > 0) {
						if($(form).find('#pro_sports').prop('checked') == false){
							arr.push({name:'pro_sports', value:'off'}); 
						}
					}
					if ($(form).find('#managed_sports').length > 0) {
						if($(form).find('#managed_sports').prop('checked') == false){
							arr.push({name:'managed_sports', value:'off'}); 
						}
					}
					if ($(form).find('#sports_contract').length > 0) {
						if($(form).find('#sports_contract').prop('checked') == false){
							arr.push({name:'sports_contract', value:'off'}); 
						}
					} 
				},
				success: function(data,stat,xhr,form){
					scroll2top();
					if (data.message) {
						$.toast(data.message,{
		                	duration: 5000, 
							type: 'success',
							align: 'bottom',
							singleton: true
		                });
					}
					$(form).find('.pp_load_loader').removeClass('loadingg');
	                $(form).find('button[type="submit"]').removeAttr('disabled');

					var redirect = $(form).find('input[name="redirect"]').val();
					if (redirect) {
						location.href=redirect;
					}
				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'password') { ?>
	<script data-page="password">
		jQuery(document).ready(function($) {
			$("form#edit-password-settings").ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/change-password',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data,stat,xhr,form){
					scroll2top();
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
	                $(form).find('button[type="submit"]').removeAttr('disabled');
	                $(form).get(0).reset();
				}
			});
		});
	</script>	
<?php } ?>
<?php if ($context['page'] == 'privacy') { ?>
	<script>
		jQuery(document).ready(function($) {
			var form = $("form#edit-privacy-settings");
			form.ajaxForm({
				url: link('settings/privacy'),
				type: 'POST',
				dataType: 'json',
				beforeSend: function(){
					$(form).find('.pp_load_loader').addClass('loadingg');
					form.find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data){
					$(form).find('.pp_load_loader').removeClass('loadingg');
					form.find('button[type="submit"]').removeAttr('disabled');
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'notifications') { ?>
	<script>
		jQuery(document).ready(function($) {
			var form = $("form#edit-notification-settings");
			form.ajaxForm({
				url: link('settings/notifications'),
				type: 'POST',
				dataType: 'json',
				beforeSend: function(){
					$(form).find('.pp_load_loader').addClass('loadingg');
					form.find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data){
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
					form.find('button[type="submit"]').removeAttr('disabled');
				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'delete') { ?>
	<script>
		jQuery(document).ready(function($) {
			$("form#delete-account-settings").ajaxForm({
				url: link('settings/delete-account'),
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled', 'true');
				},
				success: function(data){
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
	                if (data.status == 200) {
	                	delay(function(){
							window.location.href = site_url("welcome");
						},2500);
	                }
	                else{
	                	$('.pp_load_loader').removeClass('loadingg');
						$('button[type="submit"]').removeAttr('disabled');
	                }

				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'verification') { ?>
	<script>
		jQuery(document).ready(function($) {

		    $("#ip-photo").change(function(event) {
		        $("#user_ip").html("<img src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture' width='100%'>")
		    });

		    $("#user-photo").change(function(event) {
		        $("#user_image").html("<img src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture' width='100%'>")
		    });

			var form = $("form#verify-profile-settings");
			form.ajaxForm({
				url: link('settings/verify'),
				type: 'POST',
				dataType: 'json',
				beforeSend: function(){
					$(form).find('.pp_load_loader').addClass('loadingg');
					form.find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data){
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
					form.find('button[type="submit"]').removeAttr('disabled');
					if (data.status == 200) {
					    setTimeout(function () {
							window.location.reload();
						},3000);
					}
				}
			});
		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'manage_sessions') { ?>
	<script data-page="manage_sessions">
		function delete_u_session(id,is_current) {
			if (is_current == true) {
				window.location.href = site_url('signout');
			}else{
				$.post(link('settings/delete_session'), {id: id}, function(data, textStatus, xhr) {
					$('#s_'+id).slideUp('slow').remove();
				});
			}
		}
	</script>
<?php } ?>
<?php if ($context['page'] == 'withdraw') { ?>
	<script data-page="withdraw">
		$("select[name=bank_code]").change(function(event) {
			var selected = $(this).children("option:selected");
			$('input[name=bank_name]').val(selected.text());
			$('input[name=account_type]').val(selected.data('type'));
			console.log(selected.text());
			console.log(selected.data('type'));
		});
		jQuery(document).ready(function($) {
			var selected_opt = $('.bank_inputs').find("option:selected");
			if (typeof(selected_opt) != 'undefined') {
				$('input[name=bank_name]').val(selected_opt.text());
				$('input[name=account_type]').val(selected_opt.data('type'));
			}

	        $('#bank_code').checkAccountNumberTrigger();
	        $('#account_number').checkAccountNumber();

			var rqp = $('#require_paypal').val();
			if (typeof(rqp) != 'undefined' && rqp == 1) {$('input[name=paypal_email]').attr('required', true)}

			withdraw_form = $("form#edit-withdraw-settings");
			withdraw_form.ajaxForm({
				url: '<?php echo($context['xhr_url']) ?>/withdraw',
				type: 'POST',
				dataType: 'json',
				beforeSubmit: function(arr,form){
					$(form).find('.pp_load_loader').addClass('loadingg');
					$(form).find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data,stat,xhr,form){
					scroll2top();
					$.toast(data.message,{
	                	duration: 5000, 
	                	type: 'success',
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
	                $(form).find('button[type="submit"]').removeAttr('disabled');
				}
			});

		});
	</script>
<?php } ?>
<?php if ($context['page'] == 'coupon') { ?>
	<script>
		jQuery(document).ready(function($) {
			var form = $("form#apply-coupon-code");
			form.ajaxForm({
				url: link('go_pro/coupon'),
				type: 'POST',
				dataType: 'json',
				beforeSend: function(){
					$(form).find('.pp_load_loader').addClass('loadingg');
					form.find('button[type="submit"]').attr('disabled','true');
				},
				success: function(data){
					if (data.status == 200) {
						var message = data.message;
						var type = 'success'; 

					    setTimeout(function () {
							location.href = data.url;
						},300); 
					} else {
						var message = data.error;
						var type = 'danger';
					}
					$.toast(message,{
	                	duration: 5000, 
	                	type: type,
	                	align: 'bottom',
	                	singleton: true
	                });
					$(form).find('.pp_load_loader').removeClass('loadingg');
					form.find('button[type="submit"]').removeAttr('disabled');
				}
			});
		});
	</script>
<?php } ?>

<script type="text/javascript">
	$("#avatar").change(function(event) {
		$("#edit-avatar").submit();
	});
	$("#edit-avatar").ajaxForm({
		url: '<?php echo($context['xhr_url']) ?>/edit-avatar',
		type: 'POST',
		dataType: 'json',
		data:{
			user_id: '<?php echo($context['me']['user_id']) ?>'
		},
		beforeSend: function(){
			$("#modal-progress").removeClass('hidden');
		},
		success: function(data){
			if (data.status == 200) {
				$('.avatar-wrapper').find('img').attr('src', data.avatar);
			}
			
			$.toast(data.message,{
            	duration: 5000, 
            	type: 'success',
            	align: 'bottom',
            	singleton: true
            });

			$("#modal-progress").addClass('hidden');
		}
	});
</script>
