<div id="store_filter">
	<div class="row">
		<div class="col-md-4">
			<div class="pp_mat_input mb-0">
				<input type="text" name="title" class="form-control" id="search_title" placeholder="{{LANG title}}">
			</div>
			<div class="pp_mat_input mb-0">
				<input type="text" name="tags" class="form-control" id="search_tags" placeholder="{{LANG tags}}">
			</div>
		</div>
		<div class="col-md-4">
			<div class="pp_mat_select mb-0">
				<select name="category" class="form-control" id="search_category">
					<option value="" selected disabled>{{LANG category}}</option>
					<?php
						$store_categories = store_categories();
						foreach ($store_categories as $key => $category) {
							echo '<option value="'.$key.'">'.$category.'</option>';
						}
					?>
				</select>
			</div>
			<div class="pp_mat_select mb-0">
				<select name="license" class="form-control" id="search_license">
					<option value="" selected disabled>{{LANG license_type}}</option>
					<option value="rights_managed_license">{{LANG rights_managed_license}}</option>
					<option value="editorial_use_license">{{LANG editorial_use_license}}</option>
					<option value="royalty_free_license">{{LANG royalty_free_license}}</option>
					<option value="royalty_free_extended_license">{{LANG royalty_free_extended_license}}</option>
					<option value="creative_commons_license">{{LANG creative_commons_license}}</option>
					<option value="public_domain">{{LANG public_domain}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pp_mat_select mb-0">
                <div class="pp_mat_input mb-0" id="inputRange">
                    <input type="number" step="1" min="0"  placeholder="{{LANG price}} {{LANG min}}" id="search_min" >
                    <input type="number" step="1" min="0"  placeholder="{{LANG price}} {{LANG max}}" id="search_max">
                </div>
			</div>
			<div id="store_search_div">
				<button id="store_search" class="btn btn-info pp_flat_btn"><span>{{LANG search}}</span></button>
			</div>
		</div>
	</div>
</div>

<script>
    $('#store_search').click(function(event){
        event.preventDefault();
        var val = $('#store_sort option:selected').val();

        var gwidth = ($('.explore-posts-container').width() / 4);
        var config = {
            selector: '.item',
            gutter: 0,
            animate: true,
            animationOptions: {
                speed: 100,
                duration: 200
            }
        }

        if ($(window).width() > 992){
            config.width = 303.34;
        };

        var _search_title = $('#search_title').val();
        var _search_tags = $('#search_tags').val();
        var _search_category = $('#search_category option:selected').val();
        var _search_license = $('#search_license').val();
        var _search_min = $('#search_min').val();
        var _search_max = $('#search_max').val();

        $.ajax({
            url: link('store/explore-all-store'),
            type: 'GET',
            dataType: 'json',
            data: {
                mode: 'search',
                offset: 0,
                search_title: _search_title,
                search_tags: _search_tags,
                search_category: _search_category,
                search_license: _search_license,
                search_min: _search_min,
                search_max: _search_max
            },
        }).done(function(data) {
            if (data.status == 200) {
                $(".explore-posts-container").html(data.html);
                $(".explore-posts-container").gridalicious(config);
                $(window).unbind('scroll');
            }
        });
    });
</script>