<div class="explore-page-container mt-0">
    <div class="explore-posts-container" style="margin-top: inherit;">
        <?php
         if ($context['images']) {
			foreach ($context['images'] as $key => $post_data) {
                $post_data['post_id'] = $post_data['id'];
                $post_data['type'] = 'image';
                $post_data['thumb'] = $post_data['small_file'];
                $post_data['boosted'] = 0;
                $post_data['avatar'] = $context['me']['avatar'];
                $post_data['username'] = $context['me']['username'];
                //var_dump($post_data);
                include 'list-item.html';
            }
         } else{
            include $context['dirname_theme'].'/explore/templates/explore/includes/no-posts-found.html';
         }
         ?>
    </div>
</div>

<?php
    include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
?>

<script>
    var myLazyLoad = new LazyLoad({
        elements_selector: ".lazy_"
    });

    var gwidth = ($('.explore-posts-container').width() / 4);
    var config = {
        selector: '.item',
        gutter: 0,
        animate: true,
        animationOptions: {
            speed: 100,
            duration: 200
        }
    }

    if ($(window).width() > 992){
        config.width = 303.34;
    };

    $(".explore-posts-container").gridalicious(config);

    jQuery(document).ready(function($) {
        var scrolled = 0;
        var last_id  = 0;

        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                if (scrolled == 0 && $('.explore-postset').length > 0) {
                    scrolled = 1;
                    var list_ids = $("div.explore-postset[id]").map(function() {
                        return $(this).attr('id');
                    }).get();

                    if (!list_ids) {
                        return false;
                    }

                    var last_id  = Math.min.apply(Math,list_ids);

                    $.ajax({
                        url: link('store/explore-user-store'),
                        type: 'GET',
                        dataType: 'json',
                        data: {offset:last_id},
                    }).done(function(data) {
                        if (data.status == 200) {
                            $(".explore-posts-container").gridalicious('append', $(data.html));
                            scrolled = 0;
                        }
                        else{
                            $(window).unbind('scroll');
                        }
                    });
                }
            }
        });

        $(document).ready(function(){
            $('#follow__suggestions-cr').slick({
                infinite: false,
                lazyLoad: 'ondemand',
                slidesToShow: 5,
                variableWidth: false,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 300,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    });

</script>