<div class="container pp_blogs_read_main_cont">
    <div class="row">
		<?php if ($config['ad1']) { ?>
            <div class="col-md-12">
                <?php echo $config['ad1'] ; ?>
            </div><br>
		<?php } ?>

		<div class="col-md-12">
			<div class="home-posts-container">
				<?php
					if ($context['article']) {
						foreach ($context['article'] as $key => $post_data) {
							include 'includes/list.html';
						}
					} else{
						include 'includes/no-articles-found.html';
					}
				?>
			</div>
		</div>
    </div>
</div>