<?php 
    if (!empty($context['response'])) {
        foreach ($context['response'] as $key => $info) 
        { 
            if ($info['status'] !== 'off') { 
            ?>
                <h1 class="text-center"><?php echo($info['title']) ?></h1>

                <?php echo(decode($info['content']));?>

            <?php }
        }
    } else {
        echo '<h1 class="text-center">No content</h1>';
        echo '<h3 class="text-center">There is no available content</h3>'; 
    }
?>
