<div class="modal fade modal-center" role="dialog" id="manifest-modal">
  <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-center">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information Board</h4>
      </div>
      <div class="modal-body modal-body-scrollable manifest-modal-content"> </div> 
    </div>

  </div>
</div>
