<div class="sett-active">
	<form class="form pp_sett_form" id="apply-coupon-code"> 
		<div class="header">
			<h4>{{LANG use_coupon}}</h4>
			<div class="clear"></div>
		</div>

		<hr> 
		<br>
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8 create_ads_inputs"> 
				<?php if ($config['coupon_system'] == 'on') { ?> 
				<div class="bank_inputs">  

					<div class="pp_mat_input account_validator">
						<input required="true" type="text" name="coupon_code" id="coupon_code" class="form-control" value="">
						<span class="bar"></span>
						<label>{{LANG coupon}} Code*</label>
					</div> 

					<div class="pp_load_loader">
						<button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG use_coupon}}</span></button>
					</div>
					<div class="clear"></div>
					<input type="hidden" name="type" value="coupon">
					<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
					<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
				</div> 
				<?php } ?>
		</div>
		<div class="col-md-2"></div>
	</form> 
</div>
<?php 
include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>
