<div class="priv-active">
	<div class="header">
		<h4>{{LANG acc_privacy_settings}}</h4>
		<div class="clear"></div>
	</div>
	<hr>
	<form class="form row pp_sett_form" id="edit-privacy-settings">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG p_privacy}}?</label>
			<div>
				<select name="p_privacy" class="form-control">
					<option value="2" <?php if($context['me']['p_privacy'] == 2){ ?> selected <?php } ?>>{{LANG everyone}}</option>
					<option value="1" <?php if($context['me']['p_privacy'] == 1){ ?> selected <?php } ?>>{{LANG followers}}</option>
					<option value="0" <?php if($context['me']['p_privacy'] == 0){ ?> selected <?php } ?>>{{LANG nobody}}</option>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="pp_mat_select">
			<label class="pp_mat_label">{{LANG c_privacy}}?</label>
			<div>
				<select name="c_privacy" class="form-control">
					<option value="1" <?php if($context['me']['c_privacy'] == 1){ ?> selected <?php } ?>>{{LANG everyone}}</option>
					<option value="2" <?php if($context['me']['c_privacy'] == 2){ ?> selected <?php } ?>>{{LANG people_i_follow}}</option>
				</select>
				<span class="bar"></span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="form-group">
			<label class="col-xs-9 col-sm-9 col-md-9">{{LANG profile_search}}</label>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<input type="checkbox" <?php if($context['me']['search_engines']){ ?> checked <?php } ?> class="tgl tgl-ios" id="search_engines" name="search_engines">
				<label class="tgl-btn" for="search_engines"></label>
			</div>
			<div class="clear"></div>
		</div>
		<div class="pp_load_loader"><button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG save_changes}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
		</div>
		<div class="col-md-2"></div>
	</form>
</div>
<?php 
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>