<div class="verf-active">
	<div class="header">
		<h4>{{LANG verify_p}}</h4>
		<div class="clear"></div>
	</div>
	<hr>
	<?php if ($context['is_verified'] > 0) { ?>
	<div class="verify_h"> 
		<h4 class="text-center">{{LANG request_done}}</h4>
	</div>
	<?php } else{ ?>
	<form class="form row pp_sett_form" id="verify-profile-settings">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<div class="pp_mat_input">
			<input type="url2" name="name" class="form-control" value="<?php echo($context['me']['name']) ?>">
			<span class="bar"></span>
			<label>{{LANG name}}</label>
		</div>
		<div class="pp_mat_input">
			<textarea class="form-control" name="message" rows="3"></textarea>
			<span class="bar"></span>
			<label>{{LANG message}}</label>
		</div>
		<div class="pp_mat_input">
			<div>
				<p class="verify_text_1">{{LANG upload_docs}}</p>
				<p class="verify_text_2">{{LANG select_verif_images}}</p>
			</div>
			<div class="clear"></div>
			
			<div class="col-md-6">
				<div class="fak_image">
					<div id="user_image"></div>
					<div class="upload_fk_image" onclick="document.getElementById('user-photo').click(); return false">
						<div class="upload_fk_image_content">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z" /></svg> {{LANG your_photo}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="fak_image">
					<div id="user_ip"></div>
					<div class="upload_fk_image" onclick="document.getElementById('ip-photo').click(); return false">
						<div class="upload_fk_image_content">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M22,4H14V7H10V4H2A2,2 0 0,0 0,6V20A2,2 0 0,0 2,22H22A2,2 0 0,0 24,20V6A2,2 0 0,0 22,4M8,9A2,2 0 0,1 10,11A2,2 0 0,1 8,13A2,2 0 0,1 6,11A2,2 0 0,1 8,9M12,17H4V16C4,14.67 6.67,14 8,14C9.33,14 12,14.67 12,16V17M20,18H14V16H20V18M20,14H14V12H20V14M20,10H14V8H20V10M13,6H11V2H13V6Z" /></svg> {{LANG your_ip}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="pp_load_loader"><button class="btn btn-info pp_flat_btn" type="submit"><span>{{LANG send}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
		<input type="file" name="passport" class="hidden" id="ip-photo" accept="image/x-png,image/jpg,image/jpeg">
		<input type="file" name="photo" class="hidden" id="user-photo" accept="image/x-png,image/jpg,image/jpeg">

		</div>
		<div class="col-md-1"></div>
	</form>
	<?php } ?>
</div>

<?php 
include $context['dirname_theme'].'/main/templates/includes/lazy-load.html';
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>