<?php if ($context['follow']) { ?>
<div class="follow-suggestions-cr">
	<div class="fluid">
		<h5>
			{{LANG follow_suggestions}}
			<a href="<?php echo(pxp_link('explore/people')) ?>" data-ajax="ajax_loading.php?app=explore&apph=people" class="pull-right">{{LANG see_all}} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
		</h5>
	</div>
	<div class="cr-wrapper">
		<div class="owl-carousel tl-follow-suggestions" id="follow-suggestions-cr">
			<?php foreach ($context['follow'] as $key => $follow_sugg) { ?>
				<div class="item">
					<div class="avatar">
						<img src="<?php echo($follow_sugg['avatar']) ?>" class="img-circle">
					</div>
					<div class="uname">
						<a href="<?php echo($follow_sugg['url']) ?>" data-ajax="ajax_loading.php?app=profile&apph=profile&uname=<?php echo($follow_sugg['username']) ?>">
							<strong><?php echo $follow_sugg['username']; ?></strong>
						</a>
						<span>
							<?php echo $follow_sugg['name']; ?>
						</span>
					</div>

					<div class="button">
						<button onclick="follow(<?php echo $follow_sugg['user_id']; ?>,this);">
				  			<span>{{LANG follow}}</span>
				  		</button>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</div>
<?php } ?>